.controls {
  margin-bottom: 12px;
}

.search-container > button {
  padding: 6px 12px;
  margin-left: 4px;
  font-size: 16px;
  cursor: pointer;
}

.scroll-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 125px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.scroll-list li {
  display: flex;
  align-items: center;
  gap: 0 4px;
  padding: 10px;
  cursor: pointer;
  color: black;
  font-size: 18px;
  border-bottom: 1px solid #eee;
}

.scroll-list li button {
  border: none;
  background-color: transparent;
}

.scroll-list li:last-child {
  border-bottom: none;
}

.scroll-list li:has(input[type="checkbox"]:checked) button {
  text-decoration: line-through;
  color: gray;
}
